{% extends "base.html" %}


{% block body %}
<div class="row">
    <div class="col-7">
        <section>
            <h4>Pakowanie to nasza pasja</h4>
            Dzięki AlPaczce, Twoje wszystkie przesyłki dotrą do adresata szybko, bezpiecznie i&nbsp;w&nbsp;całości.
            Nasz specjalny system pakowania i&nbsp;transportu pozwala na dostarczenie
            nawet najdelikatniejszego ładunku w nienaruszonym stanie.
            Nie byłoby to oczywiście możliwe bez zaawansowanego systemu informatycznego,
            który usprawnia cały proces i&nbsp;umożliwia śledzenie postępu doręczenia w czasie rzeczywistym.
        </section>

        <section>
            <h4>Historia pewnej paczki</h4>
            Nazwa firmy pochodzi od niezwykłej subtelności, z jaką traktujemy każdą powierzoną nam paczkę.
            Na początku naszej działalności, jeden z klientów, zachwycony idealnym stanem otrzymanych przesyłek,
            zapytał, czy nie podróżowały one na miękkim puchu alpaczej wełny. Tak właśnie powstała AlPaczka!
        </section>

        <section>
            <h4>Dostępne paczki usług:</h4>
            <ul>
                <li>Paczka podstawowa</li>
                <li>Paczka powiększona</li>
                <li>Paczka++</li>
            </ul>
            Oferujemy również paczkę usług dla firm, dopasowaną specjalnie do indywidualnych potrzeb klienta,
            zachęcamy do kontaktu w celu ustalenia szczegółow.
        </section>

        <h4>Zmień swojego kuriera na AlPaczkę już dziś!</h4>
    </div>

    <div class="col-5">
        <img src="{{ url_for('static', filename='box.jpeg') }}" alt="Pakowanie przesyłki" class="img-fluid">
    </div>
</div>
{% endblock %}