{% extends "base.html" %}


{% block body %}
<div class="row justify-content-center">
    <div class="col-4">
        <h3>Logowanie nadawcy</h3>
        <form class="needs-validation" method="POST" id="form" action="{{ url_for('sender_login') }}" enctype="multipart/form-data">

            <div class="form-group">
                <input type="text" class="form-control" name="username" id="username" placeholder="Nazwa użytkownika" autocomplete="off" aria-describedby="invalid-username">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Hasło" autocomplete="off" aria-describedby="invalid-password-1">
            </div>

            <input type="submit" class="btn btn-success" name="submit" value="Zaloguj">

            <a href="{{ url_for('auth0_login') }}" class="btn btn-success" role="button">Zaloguj przez Auth0</a>
        </form>
    </div>
</div>
{% endblock %}