{% extends "base.html" %}


{% block body %}
<div class="row justify-content-around">

    <div class="col-7">
        <h3>Zapisane etykiety paczek</h3>
        {% if packages|length > 0 %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Adresat</th>
                    <th>Numer skrytki</th>
                    <th>Rozmiar paczki</th>
                    <th>Usuń</th>
                </tr>
            </thead>

            <tbody>
                {% for package in packages %}
                <tr>
                    <td>{{ package["recipient"] }}</td>
                    <td>{{ package["box_id"] }}</td>
                    <td>{{ package["size"] }}</td>
                    <td>
                        <a href="/package/delete/{{ package['id'] }}">
                            <img src="{{ url_for('static', filename='trash.svg') }}">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-success col-8" role="alert">
            <h4 class="alert-heading">Twoja lista paczek jest pusta!</h4>
            Możesz dodać nową etykietę paczki używając formularza po prawej stronie.
        </div>
        {% endif %}
    </div>

    <div class="col-4">
        <h3>Dodaj etykietę paczki</h3>

        <form method="POST" action="/sender/dashboard" id="form">
            <div class="form-group">
                <label for="recipient">Nazwa adresata</label>
                <input type="text" class="form-control" name="recipient" id="recipient" autocomplete="off" placeholder="Podaj nazwę adresata">
            </div>

            <div class="form-group">
                <label for="box-id">Numer skrytki</label>
                <input type="number" min="1" class="form-control" name="box-id" id="box-id" placeholder="Podaj numer skrytki">
            </div>

            <div class="form-group">
                <label for="size">Rozmiar paczki</label>
                <select name="size" id="size" class="form-control">
                    {% for id, name in sizes.items() %}
                    <option value="{{ id }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-success">Dodaj etykietę paczki</button>
        </form>
    </div>
</div>
{% endblock %}