<!doctype html>

<head>
    <title>AlPaczka</title>
    <meta name="author" content="Szymon Wydziałkiewicz">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='alpaca.ico') }}">

    {% block head %}{% endblock %}

</head>

<body>
    <header>
        <ul class="title">
            <li><img src="{{ url_for('static', filename='alpaca.ico') }}" class="logo"></li>
            <li>
                <div class="title_text">
                    <h1>AlPaczka</h1>
                    <h5>Szymon Wydziałkiewicz</h5>
                </div>
            </li>
        </ul>

        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Strona główna</a></li>
                <li><a href="{{ url_for('sender_sign_up') }}">Rejestracja nadawcy</a></li>
            </ul>
        </nav>

    </header>

    {% block body %}{% endblock %}


    <footer>
        <p>2020 <a href="https://github.com/Wydzials/AlPaczka">Link do repozytorium</a></p>
    </footer>

</body>

</html>