{% extends "base.html" %}


{% block head %}

{% endblock %}



{% block body %}
<div class="row main">
    <div class="col-7">
        <h3>Pakowanie to nasza pasja</h3>
        Dzięki AlPaczce, twoje wszystkie przesyłki dotrą do adresata szybko, bezpiecznie i&nbspw&nbspcałości.
        Specjalny system pakowania i&nbsptransportu pozwala na dostarczenie
        nawet najdelikatniejszego ładunku w nienaruszonym stanie.
        Nie byłoby to oczywiście możliwe bez zaawansowanego systemu informatycznego,
        który usprawnia cały proces i&nbsppozwala na śledzenie postępu doręczenia w czasie rzeczywistym.

        <h3>Historia pewnej paczki</h3>
        Nazwa firmy pochodzi od niezwykłej subtelności, z jaką traktujemy każdą powierzoną nam paczkę.
        Na początku naszej działalności, jeden z klientów, zachwycony stanem otrzymanych przesyłek,
        zapytał, czy nie podróżowały one na miękkim puchu alpaczej wełny. Tak właśnie powstała AlPaczka!

        <h3>Dostępne paczki usług:</h3>
        <ul>
            <li>Paczka podstawowa</li>
            <li>Paczka powiększona</li>
            <li>Paczka++</li>
        </ul>

        Oferujemy również paczkę usług dla firm, dopasowaną specjalnie do indywidualnych potrzeb klienta,
        zachęcamy do kontaktu w celu ustalenia szczegółow.

        <h4>Zmień swojego kuriera na AlPaczkę już dziś!</h4>
    </div>

    <div class="col-5">
        <img src="{{ url_for('static', filename='box.jpeg') }}" class="img-fluid">
    </div>
</div>
{% endblock %}